<div class="tweet-input">
    <div class="side-content">
        <app-img src="https://unsplash.it/48/48"></app-img>
    </div>

    <div class="main-content">
        <app-text-area
            [rows]="rows"
            placeholder="What's going on?"
            name="tweet-text"></app-text-area>

        <div class="text-actions">
            <app-button variant="flat" size="sm">
                <fa-icon class="button-icon" [icon]="faGlobeAmericas"></fa-icon>
                <span>Everyone can reply</span>
            </app-button>
        </div>

        <app-divider></app-divider>
        
        <div class="modal-actions">
            <div class="secondary-actions">
                <app-button
                    *ngFor="let action of modalActions"
                    [icon]="true"
                    (click)="action.method"
                    variant="flat">
                    <fa-icon [icon]="action.icon"></fa-icon>
                </app-button>
            </div>

            <div class="main-action">
                <app-button>
                    Tweet
                </app-button>
            </div>
        </div>
    </div>
</div>