@import 'src/assets/styles/_theme.scss';

.feed-item-wrapper {
    display: flex;
    padding: $md-space $lg-space;

    .item-left {
        flex-basis: 50px;
        flex-shrink: 0;
    }
    
    .item-content {
        flex-grow: 1;
        margin-left: $md-space;

        .content-header {
            display: flex;
            justify-content: space-between;

            .header-title-wrapper {
                display: flex;

                app-text {
                    margin-right: $xs-space;
                }
            }

            .header-down-icon {
                font-size: $sm-font;
                color: $grey;
            }
        }

        .image-wrapper {
            height: 200px;
            overflow: auto;
        }
    }

    .content-actions {
        display: flex;
        margin-top: $lg-space;

        .action-wrapper {
            flex: 1;
            display: flex;
            align-items: center;

            .action-icon {
                color: $grey;
                margin-right: $xs-space;
            }
        }
    }
}
.modal-header {
    padding: $md-space $lg-space;
}
.modal-content {
    padding: $md-space $lg-space;
    display: flex;
}