@import 'src/assets/styles/_theme.scss';

.feed-item-wrapper {
    display: flex;
    padding: $md-space $lg-space;
    transition: $transition;

    &:hover {
        background-color: lighten($background, 2%);
    }

    .item-left {
        flex-basis: 50px;
        flex-shrink: 0;
    }
    
    .item-content {
        flex-grow: 1;
        margin-left: $md-space;

        .content-header {
            display: flex;
            justify-content: space-between;

            .header-title-wrapper {
                display: flex;

                app-text {
                    margin-right: $xs-space;
                }
            }

            .header-down-icon {
                font-size: $sm-font;
                color: $grey;
            }
        }

        .image-wrapper {
            display: flex;
            height: 200px;
            overflow: hidden;
            margin-top: $sm-space;
        }
    }

    .content-actions {
        display: flex;
        margin-top: $lg-space;

        .action-wrapper {
            flex: 1;
            display: flex;
            align-items: center;

            .action-icon {
                color: $grey;
                margin-right: $xs-space;

                &.green {
                    color: $green!important;
                }
                &.red {
                    color: $red!important;
                }
            }
        }
    }
}
.modal-header {
    padding: $md-space $lg-space;
}
.modal-content {
    padding: $md-space $lg-space;
    display: flex;
}
.modal-img-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-modal-close-btn {
    position: absolute;
    left: $sm-space;
    top: $sm-space;
}
.menu-btn {
    position: absolute;
    top: $md-space;
    right: $md-space;
}