@import 'src/assets/styles/_theme.scss';

.img-wrapper {
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid transparent;
    display: inline-flex;
}
.sm {
    width: $sm-img;
    height: $sm-img
}
.md {
    width: $md-img;
    height: $md-img;
}
.lg {
    width: $lg-img;
    height: $lg-img;
}
.bordered {
    border-color: $background;
}
.img {
    width: 100%;
}