@import 'src/assets/styles/_theme.scss';

:host {
    display: flex;
}
.img-wrapper {
    overflow: hidden;
    border: 1px solid transparent;
    display: inline-flex;

    &.square {
        height: 100%;
        border-radius: 0;
    }

    &.circle {
        border-radius: 100%;
    
        .sm {
            width: $sm-img;
            height: $sm-img
        }
        .md {
            width: $md-img;
            height: $md-img;
        }
        .lg {
            width: $lg-img;
            height: $lg-img;
        }
    }
    
    &.bordered {
        border-color: $background;
    }

    .img {
        width: 100%;
        height: 100%;
    }
}