@import 'src/assets/styles/_theme.scss';

.trend-item {
    padding: $md-space $lg-space;

    .trend-header {
        display: flex;
        justify-content: space-between;

        .down-icon {
            font-size: $sm-font;
            font-weight: $normal;
            color: $grey;
        }
    }
}