@import 'src/assets/styles/_theme.scss';

.dropdown {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $white;
    font-size: $lg-font;
    font-weight: $bold;
    margin: $lg-space 0;
    position: relative;

    &.fab {
        margin: 0;
        width: $xxl-space;
        height: $xxl-space;
        border-radius: 50%;
        justify-content: center;

        .dropdown-box {
            padding: $sm-space;
        }
    }

    .dropdown-box {
        padding: $sm-space $lg-space;
        transition: $transition;
    }

    .dropdown-text {
        margin-left: $lg-space;
    }

    &:hover {
        color: $blue;

        .dropdown-box {
            background-color: rgba($blue, 0.1);
            border-radius: $btn-radius;
        }
    }

    .dropdown-menu {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        min-width: 200px;

        &.up {
            bottom: 100%;
        }
        &.down {
            top: 100%;
        }


        ul {
            list-style-type: none;
            box-shadow: 0 0 4px 0 $white;
            background-color: $background;
            color: $white;
            border-radius: $input-radius;

            li {
                display: flex;
            }

            a {
                display: flex;
                padding: $lg-space $lg-space;
                color: $white;
                font-weight: $normal;
                font-size: $md-font;
                flex: 1;
                transition: $transition;

                span {
                    margin-left: $md-space;
                }

                &:hover {
                    background-color: $card;
                }
            }
        }
    }
}