@import 'src/assets/styles/_theme.scss';

.overlay {
    background-color: rgba($overlay, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $z-9999;
}
.modal {
    margin: $xl-space auto;
    max-width: 600px;
    display: block;
}