@import 'src/assets/styles/_theme.scss';

.normal {
    font-weight: $normal;
}
.bold {
    font-weight: $bold;
}
.sm {
    font-size: $sm-font;
}
.md {
    font-size: $md-font;
}
.lg {
    font-size: $lg-font;
}
.xl {
    font-size: $xl-font;
}
.xxl {
    font-size: $xxl-font;
}
.xxxl {
    font-size: $xxxl-font;
}
.white {
    color: $white;
}
.grey {
    color: $grey;
}
.blue {
    color: $blue;
}
