<div class="container">
  <h1>Twitter Components</h1>

  <app-divider [marginless]="true"></app-divider>

  <div>
    <app-button size="sm">
      Primary Small
    </app-button>
    <app-button>
      Primary
    </app-button>
    <app-button size="lg">
      Primary Large
    </app-button>
  </div>

  <div>
    <app-button variant="outline" size="sm">
      Outline Small
    </app-button>
    <app-button variant="outline">
      Outline
    </app-button>
    <app-button variant="outline" size="lg">
      Outline Large
    </app-button>
  </div>

  <app-divider></app-divider>

  <app-text size="sm">
    Small Text
  </app-text>
  <app-text size="sm" weight="bold">
    Small Text
  </app-text>

  <app-text>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque cum at maiores voluptate modi, accusantium quasi repudiandae qui commodi aliquid suscipit numquam ex, nulla error iure debitis dolorum natus eaque?
  </app-text>
  <app-text weight="bold">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque cum at maiores voluptate modi, accusantium quasi repudiandae qui commodi aliquid suscipit numquam ex, nulla error iure debitis dolorum natus eaque?
  </app-text>

  <app-text size="lg">
    Large Text
  </app-text>
  <app-text size="lg" weight="bold">
    Large Text
  </app-text>

  <app-text size="sm" color="grey">
    Small Text
  </app-text>

  <app-text color="grey">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque cum at maiores voluptate modi, accusantium quasi repudiandae qui commodi aliquid suscipit numquam ex, nulla error iure debitis dolorum natus eaque?
  </app-text>

  <app-text size="lg" color="grey">
    Large Text
  </app-text>

  <app-text size="sm" color="blue">
    Small Text
  </app-text>

  <app-text color="blue">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque cum at maiores voluptate modi, accusantium quasi repudiandae qui commodi aliquid suscipit numquam ex, nulla error iure debitis dolorum natus eaque?
  </app-text>

  <app-text size="lg" color="blue">
    Large Text
  </app-text>

  <app-divider></app-divider>

  <app-nav-link [icon]="faHome">
    Home
  </app-nav-link>

  <app-nav-link [icon]="faHashtag">
    Explore
  </app-nav-link>

  <app-nav-link [icon]="faBell">
    Notifications
  </app-nav-link>

  <app-divider></app-divider>

  <app-input 
    [icon]="faSearch"
    placeholder="Search Twitter"
    name="search">
  </app-input>

  <app-divider></app-divider>

  <app-img 
    src="https://unsplash.it/18/18" 
    alt="foto1"
    size="sm">
  </app-img>

  <app-img 
    src="https://unsplash.it/18/18" 
    alt="foto1"
    size="sm"
    [border]="true">
  </app-img>

  <app-img 
    src="https://unsplash.it/50/50" 
    alt="foto1">
  </app-img>

  <app-img 
    src="https://unsplash.it/50/50" 
    alt="foto1"
    [border]="true">
  </app-img>

  <app-img 
    src="https://unsplash.it/135/135" 
    alt="foto1"
    size="lg">
  </app-img>

  <app-img 
    src="https://unsplash.it/135/135" 
    alt="foto1"
    size="lg"
    [border]="true">
  </app-img>

  <app-divider></app-divider>

  <app-card>
    <app-nav-link [icon]="faHashtag">
      Explore
    </app-nav-link>

    <app-text color="blue">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque cum at maiores voluptate modi, accusantium quasi repudiandae qui commodi aliquid suscipit numquam ex, nulla error iure debitis dolorum natus eaque?
    </app-text>
  </app-card>

  <app-card>
    <app-nav-link [icon]="faHashtag">
      Explore
    </app-nav-link>

    <app-text color="blue">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque cum at maiores voluptate modi, accusantium quasi repudiandae qui commodi aliquid suscipit numquam ex, nulla error iure debitis dolorum natus eaque?
    </app-text>
  </app-card>

  <app-divider></app-divider>

  <app-card variant="rounded">
    <app-text color="grey">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque cum at maiores voluptate modi, accusantium quasi repudiandae qui commodi aliquid suscipit numquam ex, nulla error iure debitis dolorum natus eaque?
    </app-text>

    <app-nav-link [icon]="faHashtag">
      Explore
    </app-nav-link>

    <app-button variant="outline" size="lg">
      Outline Large
    </app-button>

    <app-nav-link [icon]="faHashtag">
      Explore
    </app-nav-link>

    <app-img 
      src="https://unsplash.it/50/50" 
      alt="foto1"
      [border]="true">
    </app-img>

    <app-text color="blue">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque cum at maiores voluptate modi, accusantium quasi repudiandae qui commodi aliquid suscipit numquam ex, nulla error iure debitis dolorum natus eaque?
    </app-text>
  </app-card>

  <app-divider></app-divider>
  
</div>