@import 'src/assets/styles/_theme.scss';

.list-item {
    padding: $md-space $lg-space;
    display: flex;

    .list-img-wrapper {
        flex-basis: 50px;
    }

    .list-body-wrapper {
        flex: 1;
        margin: 0 $sm-space;
    }

    .list-actions-wrapper {
        display: flex;
        align-items: center;
    }
}