<div class="list-item">
    <div class="list-img-wrapper">
        <app-img 
            [src]="profileImg"
            [alt]="user.username">
        </app-img>
    </div>

    <div class="list-body-wrapper">
        <app-text weight="bold">
            {{user.username}}
        </app-text>

        <app-text color="grey">
            {{user.email}}
        </app-text>
    </div>

    <div class="list-actions-wrapper">
        <app-button 
            [variant]="isFollowing ? 'primary' : 'outline'" 
            size="sm"
            (click)="toggleFollow()">
            {{isFollowing ? 'Following' : 'Follow'}}
        </app-button>
    </div>
</div>