<div class="list-item">
    <div class="list-img-wrapper">
        <app-img 
            [src]="user.imgUrl"
            [alt]="user.name">
        </app-img>
    </div>

    <div class="list-body-wrapper">
        <app-text weight="bold">
            {{user.name}}
        </app-text>

        <app-text color="grey">
            {{user.username}}
        </app-text>
    </div>

    <div class="list-actions-wrapper">
        <app-button variant="outline" size="sm">
            Follow
        </app-button>
    </div>
</div>