@import 'src/assets/styles/_theme.scss';

.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.landing-wrapper {
    display: flex;
    flex: 1;
}

.landing-image {
    background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png');
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: center;

    .landing-icon {
        font-size: 250px;
    }
}

.landing-content {
    padding: $xxl-space;

    .content-header {
        margin: $xl-space 0;

        .brand-logo {
            font-size: $xl-font;
        }
    }

    .content-titles {
        .subtitle {
            margin: $xl-space 0;
            display: block;
        }
    }

    .content-actions {
        margin: $xl-space 0;
        max-width: 360px;

        .login-btn {
            margin-top: $lg-space;
            display: block;
        }
    }
}

.landing-footer {
    padding: $lg-space $xl-space;
    text-align: center;
}
