@import 'src/assets/styles/_theme.scss';

.input-container {
    padding: $md-space 0;
}

.normal {
    background-color: transparent;
    border: 1px solid $line;
    position: relative;
    border-radius: $input-radius;
    overflow: hidden;
    transition: $transition;
    padding-top: $sm-space;


    .label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: $md-space;
        color: $grey;
        font-size: $md-font;
        transition: $transition;
    }

    .input {
        padding: $lg-space $md-space;
        background-color: transparent;
        border: none;
        width: 100%;
        caret-color: $white;
        color: $white;
        outline: none;
    }

    &.focused {
        border-color: $blue;

        .label {
            color: $blue;
            font-size: $xs-font;
            top: 25%;
        }
    }
}

.rounded {
    background-color: $input;
    border-radius: $btn-radius;
    border: 1px solid transparent;
    display: flex;
    transition: $transition;

    .input-icon {
        padding: $md-space $lg-space;
        color: $grey;
        transition: $transition;
    }

    .input {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: $md-font;
        font-weight: $normal;
        caret-color: $white;
        color: $white;

        &::placeholder {
            color: $grey;
        }
    }

    &.focused {
        border-color: $blue;
        background-color: $background;

        .input-icon {
            color: $blue;
        }
    }
}
