@import 'src/assets/styles/_theme.scss';

.profile-header {
    display: flex;
    align-items: center;
    padding: $md-space $lg-space;

    .back-btn {
        color: $blue;
        font-size: $md-font;
        padding-right: $md-space;
    }

    .header-title {
        margin-left: $md-space;
    }
}