<app-card>
    <header class="profile-header">
        <a routerLink="/home">
            <fa-icon class="back-btn" [icon]="faArrowLeft"></fa-icon>
        </a>

        <div class="header-title">
            <app-text weight="bold" size="lg">
                {{user.username | uppercase}}
            </app-text>
            <app-text color="grey" size="sm">
                {{tweets.length}} Tweets
            </app-text>
        </div>
    </header>
</app-card>

<app-card>
    <app-img
        variant="square"
        src="https://unsplash.it/600/200">
    </app-img>
</app-card>

<app-card [relative]="true">
    <header class="profile-card-header">
        <app-img 
            class="profile-img" 
            size="lg"
            [src]="profileImg"
            [border]="true"></app-img>

        <app-button 
            variant="outline" 
            *ngIf="isMyProfile; else toggleFollowBtn"
            (click)="openEditModal()">
            Edit
        </app-button>

        <ng-template #toggleFollowBtn>
            <app-button 
                [variant]="isFollowing ? 'primary' : 'outline'"
                (click)="toggleFollow()">
                {{isFollowing ? 'Following' : 'Follow'}}
            </app-button>
        </ng-template>
    </header>

    <div class="profile-title">
        <app-text weight="bold" size="lg">
            {{user.username}}
        </app-text>
        <app-text color="grey">
            {{user.email}}
        </app-text>
    </div>

    <div class="profile-bio">
        <app-text>
            {{user.bio ? user.bio : 'I am new in twitter'}}
        </app-text>
    </div>

    <div class="profile-info">
        <div class="info-item" *ngIf="user.location">
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <app-text class="stats-item-title" color="grey" size="sm">
                {{user.location}}
            </app-text>
        </div>

        <a [href]="user.link" target="_blank" rel="noreferrer" class="info-item" *ngIf="user.link">
            <fa-icon [icon]="faLink"></fa-icon>
            <app-text class="stats-item-title" color="grey" size="sm">
                {{user.link.split('//')[1]}}
            </app-text>
        </a>

        <div class="info-item">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
            <app-text class="stats-item-title" color="grey" size="sm">
                {{user.created_at | date}}
            </app-text>
        </div>
    </div>

    <div class="profile-statistics">
        <div class="stats-item">
            <app-text weight="bold" size="sm">
                {{user.following ? user.following.length : 0}}
            </app-text>
            <app-text class="stats-item-title" color="grey" size="sm">
                Following
            </app-text>
        </div>

        <div class="stats-item">
            <app-text weight="bold" size="sm">
                {{user.followers ? user.followers.length : 0}}
            </app-text>
            <app-text class="stats-item-title" color="grey" size="sm">
                Followers
            </app-text>
        </div>
    </div>

    <a href="#" class="profile-followers">
        <div class="followers-images-wrapper">
            <app-img 
                *ngFor="let followerImage of followersImages; index as i"
                class="follower-image"
                size="sm" 
                [src]="followerImage"></app-img>
        </div>

        <div class="followers-text-wrapper">
            <app-text color="grey" size="sm">
                {{followers | followers}}
            </app-text>
        </div>
    </a>

    <app-tabs
        class="tabs-wrapper"
        [tabs]="profileTabs"
        name="profileTabs"
        [selectedTab]="selectedProfileTab"
        (select)="setProfileTab($event)"></app-tabs>
</app-card>

<app-tweet-card
    *ngFor="let tweet of tweets"
    [tweet]="tweet">
</app-tweet-card>

<app-modal [isOpen]="isEditModalOpen">
    <app-edit-form
        *ngIf="userData && userData.id"
        (onCancel)="closeEditModal()"
        (onSuccess)="onSuccessfulEdit()">
    </app-edit-form>
</app-modal>