// Colors
$blue: #4BA0EC;
$input: #283340;
$background: #17202A;
$grey: #8A98A4;
$card: #1C2733;
$line: #3A444C;
$white: #fff;

// Spacings
$xs-space: 4px;
$sm-space: 8px;
$md-space: 12px;
$lg-space: 16px;
$xl-space: 32px;
$xxl-space: 40px;

// Font Sizes
$sm-font: 13px;
$md-font: 15px;
$lg-font: 20px;
$xl-font: 32px;

// Font Weights
$normal: 400;
$bold: 700;

// Radius
$btn-radius: 25px;
$card-radius: 14px;

// Transition
$transition: all 150ms ease-in-out;

// Image Lengths
$sm-img: 18px;
$md-img: 50px;
$lg-img: 135px;