@import '../../../assets/styles/theme';

.edit-form-header {
    padding: $sm-space $md-space;
}
.form-body {
    padding: $sm-space $md-space;
}
.form-img-wrapper {
    display: flex;
    justify-content: center;
    margin: $md-space 0;

    .form-img {
        position: relative;
        border-radius: 50%;
        overflow: hidden;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($background, 0.4);
        }
    }

    .camera-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .img-input {
        display: none;
    }
}