<div>
    <header class="edit-form-header">
        <app-button 
            variant="flat" 
            [icon]="true"
            (click)="closeModal()">
            <fa-icon [icon]="faTimes"></fa-icon>
        </app-button>
    </header>

    <app-divider></app-divider>

    <div class="form-body">
        <form [formGroup]="editForm" (submit)="saveForm()">
            <div class="form-img-wrapper">
                <input 
                    class="img-input" 
                    type="file" 
                    name="form-img" 
                    (change)="setProfileImg()"
                    #formImg />
                <div class="form-img">
                    <app-button 
                        class="camera-btn" 
                        variant="flat" 
                        (click)="formImg.click()"
                        [icon]="true">
                        <fa-icon [icon]="faCamera"></fa-icon>
                    </app-button>
                    <app-img
                        size="lg"
                        [src]="profileImg"></app-img>
                </div>
            </div>
            <app-text-area
                name="bio"
                placeholder="Enter a bio..."
                variant="outline"
                formControlName="bio">
            </app-text-area>

            <app-input
                name="location"
                label="Location"
                formControlName="location">
            </app-input>

            <app-input
                name="link"
                label="Link"
                formControlName="link">
            </app-input>

            <app-button 
                type="submit"
                [isLoading]="isLoading">
                Save
            </app-button>
        </form>
    </div>
</div>